


@font-face {
    font-family: "Poppins";
    src: url("https://fonts.google.com/specimen/Poppins");
    
}

@font-face {
    font-family: "SANSI";
    src: url("https://fontsforyou.com/fonts/s/SANSI.otf");
}

@font-face {
    font-family: "BitstreamArrusItalicBt";
    src: url("https://fontsforyou.com/fonts/b/BitstreamArrusItalicBt.ttf");
}

html {
scroll-behavior: smooth;
font-size: 13.5px;
font-family: "Poppins";
}


*,body,::after,::before {
box-sizing: border-box;
margin: 0;
padding: 0;
font-family: "Poppins";
overflow-y: auto;
overflow-x: hidden;


}

a,button {
    overflow: hidden !important;
}

main {
width: 100vw;
height: 100vh;
background-image: url("https://i.postimg.cc/zfMKxkxv/background2.jpg");
background-size: cover;
position: relative;
display: flex;
flex-direction: row;

}

.navbar {
position: fixed;
width: 20%;
min-width:50px;
height: 100%;
left: 0;
bottom: 0;
background-color: rgba(60, 55, 68, 0.8);
backdrop-filter: blur(30px);
display: flex;
flex-direction: column;
color: rgba(200,200,200,0.8);
font-family: 'Poppins', sans-serif;
}


.main-content {
    width: 84%;
    height: 100%;
    position: absolute;
    right: 0;
}
.brand {
display: flex;
width: 100%;
flex-direction: column;
justify-content: flex-start;
align-items: center;
height: 30%;
padding: 5px 0;
position: relative;

}

#brand-logo {
position: relative;
width: 100%;
height: 100%;
max-width: 200px;
max-height: 200px;
margin: 0 auto;



}
#brand-hr {
position: absolute;
width: 25%;
margin-top: 20px;
opacity: 0.8;
bottom: 2px;
}
#brand-name {
font-family: "SANSI";

color: white !important;
font-size: 2rem;
position: absolute;
top: 78%;

}

.past-recipes {
padding: 40px 10px;
height: 80%;
width: 100%;

}

#past-recipes-title {
font-size: 1.5rem;
letter-spacing: 1.5px;
font-weight: 600;
}

#past-recipes-list {
list-style: none;
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: flex-start;
padding-left: 10%;
height: 80%;
width: 100%;
cursor: pointer;

}
.past-recipes-item {
margin-bottom:8px !important;
font-size: 0.9rem;

}


.past-recipes-link {
color: inherit;
text-decoration: none;
font-family: inherit;
font-size: 1.2rem;
transition: font-size 0.5s ease-in-out,opacity 0.9s ease,box-shadow 0.5s ease,color 0.3s ease;

}





.container {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}


.dark {
    position: relative !important;
    width: 50%;
    height: 40%;
    max-width: 800px;
    max-height: 800px;
    margin:0;
    padding:0
    
}
img[id="brand-logo dark"] {
position: absolute !important;
top: 2px !important;
width: 100%;
height: 80%;
max-width: 400px;
max-height: 400px;

margin:0
}
h1[id="brand-name dark"] {
position: absolute;
bottom: 30%;
color: white;
font-family: "SANSI";

font-size: 2.5rem;
text-align: center;
}

#start {
font-size: clamp(1.2rem,2vw,2.5rem);
font-family: "SANSI";
color: black;
text-decoration: none;
display: flex;
justify-content: center;
align-items: center;
justify-self: center;
align-self:center ;
margin: auto 0;
width: 20%;
line-height: 2.2rem;
height: 13%;
min-width: 120px;
max-width: 400px;
max-height: 90px;
text-align: center;
border-radius: 20px;
background: white;
backdrop-filter: blur(25px);
opacity: 0.9;
transition: 0.4s ease;
position: relative;
overflow: hidden;
    
}   
#start span{
    position: absolute;
    bottom: 0;
    transform: translateY(25%);
    font-family: inherit;
    font-size: 1.8rem;
    letter-spacing: 1.5px;
    width: 100%;
    height: 90%;
}


#start::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 0%;
    border-radius: 20px;
    animation: change-color 2.8s infinite linear;
  

    
}




#quote {
    font-family: "Poppins";
    font-size: clamp(1.6rem,5vh,2.5rem);
    color: rgba(50, 23, 10, 0.91);
    font-style: italic;
    background: rgba(255, 255, 255, 0.49);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.3px);
    -webkit-backdrop-filter: blur(6.3px);
    border: 1px solid rgba(255, 255, 255, 1);
    overflow-y: auto;
    width: 50%;
    text-align: center;
    height: 25% !important;
    
}


@media only screen and (max-width: 728px) {
    .navbar {
        display: none;
        width: 0;
    }

    .main-content,.container {
        width: 100%;
    }

    html {
        font-size: 10px;
    }
    
    #start {
        width: 69%;
    }
    #start span {
        font-size: 3.2rem;
        text-align: center;
    }

    .form{
        width: 100%;
        max-height: 80%;
    }

    .container-y{
        width: 100%;
     
    }

    .gen{
        margin-left: 50%;
      }
}

/* --------------------------------------Recipes.html------------------------------------------ */

.recipes-container {
    width: 95%;
    height: 100%;
    position: absolute;
    right: 0;
}

#recipes-title {
    font-size: 6rem;
    color: #555b6e;
    text-align: center;
}

.recipes-list {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    flex-direction: column;
    gap: 5rem;
    padding: 3%;
    transition: opacity 0.4s ease;
    overflow: scroll !important;

}

.recipe {
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background: #e7ecf1;
    width: 95%;
    padding: 3px;
    min-height: 150px;
    border-radius: 25px;
    margin-bottom: 2rem; /* Add margin between each recipe */
    transition: opacity 0.3s ease;

}

.recipe-image {
    background: gray;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95%;
    width: 15%;
}
.recipe-img {
    height: 100%;
    width: 100%;
    object-fit: cover;

}


.recipe-name {
    width: 85%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition:  0.3s ease;

}

#recipe-button {
    width: 25%;
    height: 80%;
    text-decoration: none;
    color: inherit;
    font-size: 2rem;
    color: #1f46c6;
    font-weight: bold;

}



.container-y {
    display: flex;
    width: 96%;
    height: 100%;
    right: 0;
    position: absolute;
    bottom: 0;
    align-items: center;
    justify-content: center;
}

.form{
    width: 60%;
    height: 95%;
    background-color: #fdfff9;
    z-index: 0;
    padding-top: 2%;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 3px rgba(70, 69, 80, 0.6);
    position:relative;
   
    transition: all 0.5s;

}

.ingredients{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    gap: 5px;

}
input{
    border: none;
    color: #A0A0A1;
    font-family: "Poppins";
    font-weight: 300;
    font-size: 1rem;
    margin-left: 0rem;
    transition: all 0.5s;
    margin-right: 2rem;
    height: 20%;
    min-height: 50px;

}

.lineform{
    width: 5rem;
    background-color: #D4D5D3;
    height: 1px;
    margin-left: 12rem;
    margin-top: 10px;
}
 .add{
    width: 85%;
    height: 18%;
    background-color: #F5F5F5;
    padding-left: 1.1rem;
    border-radius: 12px;
}


.text{
    background-color: #fdfff900;
}
.gen{
    color: #A0A0A1;
    border-radius: 10px;
    padding: 3%;
    padding-left: 6%;
    padding-right: 5%;
    margin-bottom: 10%;
    margin-left: 15rem;
    float: right;
    size: absolute;
    max-width: 100px;
}
.text .fir-text{
  margin-top: 2rem;

}
.text{
  transition: all 0.3s linear;
}
p{
  color: #B4B4B4;
  font-size: smaller;
  padding-top: 8%;
}

.logo2{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    position: absolute !important;
    width: 40%;
    height: 50%;
    max-width: 800px;
    max-height: 800px;
    
    font-size: large;
    color: #FBFFF1 ;
}


 

  

  .home-button{
    background-color:#86868600;
    border: none;
  }


  @media (pointer:fine){
    #start:hover {
      box-shadow: 0 0 50px 5px white;
      background-color: blackc;
      scale: 1.1;
      letter-spacing: 0.2em;
      width: 25%;
  }

  #start:hover::before {
    width: 100%;
    height: 100%;
}

.gen:hover{
  cursor: pointer;
}
input.text:focus{
  outline: none;
  width: 280px;
  height: 49px;
  background-color: #F5F5F5;
  padding-left: 1.1rem;
  border-radius: 12px;
} 

input.add:hover{
outline: none;;
background-color: #7e7e7e;
padding-left: 1.1rem;
border-radius: 12px;
cursor: pointer;
color: #FDFFF9;
}

input.gen:hover{
outline: none;
background-color: #7e7e7e;
padding-left: 0.7rem;
border-radius: 12px;
cursor: pointer;
color: #FDFFF9;
}

.mobile-nav a:hover {
background-color: #6F6978;
border-radius: 17px;
}

.recipes-list:hover .recipe {
opacity: 0.3;
}

.recipes-list:hover .recipe:hover {
opacity: 1;
}
.recipes-list:hover .recipe-name:hover {
font-size: 2rem;
}

#past-recipes-list:hover .past-recipes-link {
font-size: 1.3rem;
opacity: 0.6;
}

#past-recipes-list:hover .past-recipes-link:hover {
opacity: 1;
font-size: 2.2rem;
letter-spacing: -1px;
color: rgba(255,255,255,1);
margin: 0;

}

.home-button:hover{
cursor: pointer;
}

  }

/* ------------------------Learn-More.html----------------------- */

.recipe-more {
    display: flex;
    width: 96%;
    flex-direction: column;
    height: 100%;
    right: 0;
    position: absolute;
}
.recipe-info {
    display: flex;
    position: relative;
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: center;
}
.recipe-img-info {
    border-radius: 30px;
    width: 35%;
    height: 30%;
    box-shadow: 0 0 30px 10px #000;
    object-fit: cover;

}
#info {
    font-size: large;
    color: black;

    width: 90%;
    height: 40%;
    border-radius: 30px;
    margin-top: 2%;
    text-align: center;
    text-overflow: clip;

   
    background: rgba(255, 255, 255, 0.49);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.3px);
    -webkit-backdrop-filter: blur(6.3px);
    border: 1px solid rgba(255, 255, 255, 1);
    overflow-y: auto;

}


  /* Phone Navbar */
@media only screen and (max-width: 728px) {
  
    a,button{
        cursor: pointer;
    }
    
    .mobile-nav{
        position: relative;
        transition: 2s ease;
        
        width: 250px;
    }
    
    .navigation{
        position: fixed;
        right: -500px;
        width: 100%;
        height: 100%;
        background-color: #000;
        transition: right 3s ease;
        z-index: 10;
    }
    
    .navigation ul li{
        color: #fff;
        text-align: right;
        text-transform: uppercase;
        list-style-type: none;
        font-size: 1.5em;
        padding: 20px 30px;
        border-bottom: 1pt solid #252525;
    }
    
    .hamburger, .bar{
        position: fixed;
    }
    
    .hamburger{
        display: block;
        top: 5%;
        left: 5%;
        width: 30px;
        height: 30px;
        transform: translateY(-50%);
        border: 0;
        background: 0 0;
        z-index: 20;
    }
    
    .bar{
        top: 3px;
        background: #000;
        width: 100%;
        height: 4px;
        transition: all .3s ease-in;
    }
    
    #bar2{
        top: 11px;
    }
    
    #bar3{
        top: 19px;
    }
    
    .navigation.active{
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .hamburger.open #bar1{
        background-color: #fff;
        transform: rotate(45deg) translate(6px, 5px);
    }
    
    .hamburger.open #bar2{
        background-color: transparent;
    }
    
    .hamburger.open #bar3{
        background-color: #fff;
        transform: rotate(-45deg) translate(6px, -5px);
    }
    
    
}

.navigation {
    display: none;
}