{% extends "layout.html"%}



    {% block content %}
    <body>
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@500&family=Poppins:wght@100;300&family=Red+Hat+Display:wght@500&display=swap');
          </style>
        <style>
            @font-face {
                font-family: "SANSI";
                src: url("https://fontsforyou.com/fonts/s/SANSI.otf");
            }
            @font-face {
                font-family: "Poppins";
                src: url("https://fonts.google.com/specimen/Poppins");
            }
            button{
                background-color: #3C3744;
                border: none;
                color:#FBFFF1;
                font-family: "Poppins";
                font-weight: 300;
                transition: all 0.4s linear ;
            }
            button:hover{
                color: #3C3744;
                background-color: #FBFFF1;
                transition: 1s;
                cursor: pointer;
                width: 100px;
                height: 35px;
                border-radius: 7px; 
            }
            .LogoName{
                font-family: "SANSI";
                color: #FBFFF1;
                font-weight: 200;
                margin: 0px;
                margin-left: 3.2rem;
            }
            ul{
                padding-left: 1.5rem;
            }
            body{
                margin: 0;
                background-image: url(../static/images/Background.jpg)
            }
            .navbar{
                width: 200px;
                background-color: #3C3744;
            }
            .logoimg{
                width: 65px;
                height: auto;
                margin-left: 4rem;
                margin-top: 1rem;
            }
            .logo{
                height: 70px;
                width: auto;
            }
            .bannerimg{
                width: 66px;
                height: auto;
                margin-left: 4rem;
            }
            .line{
                width: 29px;
                color: #A8A8A8;
                height: 1px;
                margin-left: 5.1rem;
                margin-top: none;
            }
            .past{
                font-family: "Poppins";
                font-weight: 400;
                size: 15pt;
                color: #FBFFF1;
                margin-left: 1.5rem;
            }

            .fav{
                font-family: "Poppins";
                font-weight: 400;
                size: 15pt;
                color: #FBFFF1;
                margin-left: 1.5rem;
            }
            .last{
                padding-bottom: 220px;
            }
        </style>
    <nav class="navbar">
    <div class="logo"><img class="logoimg"src="../static/images/Artboard 4.2.png" alt=""></div>
    <h1 class="LogoName">COOKARINO</h1>
    <div class="line"><hr></div>
    <br>
    <div class="banner"><img class="bannerimg" src="../static/images/Man.png" alt="Img"></div>
    <br>
    <figcaption class="past">Past Recipes</figcaption>
    <br>
    <ul><button>Past 1</button></ul>
    <br>
    <ul><button>Past 2</button></ul>
    <br>
    <ul><button>Past 3</button></ul>
    <br>
    <br>
    <br>
    <figcaption class="fav">Favourite Recipes</figcaption>
    <br>
    <ul><button>Recent 1</button></ul>
    <br>
    <ul><button>Recent 2</button></ul>
    <br>
    <ul class="last"><button>Recent 3</button></ul>
    
    </nav>
    <div class="background"></div>
    <style>

    </style>
    </body>
    {% endblock %}



