<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <title>Cookarino</title>

    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6091839376934377"
    crossorigin="anonymous"></script>

    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6091839376934377"
    crossorigin="anonymous"></script>

    <script src="https://cdn.onesignal.com/sdks/web/v16/OneSignalSDK.page.js" defer></script>
    <script src="https://cdn.onesignal.com/sdks/web/v16/OneSignalSDK.page.js" defer></script>
    <script src="/OneSignalSDKWorker.js"></script>
<script>
  window.OneSignalDeferred = window.OneSignalDeferred || [];
  OneSignalDeferred.push(function(OneSignal) {
    OneSignal.init({
      appId: "788b575d-e0ab-4662-873d-98d8837e1605",
    });
  });
</script>
</head>
<body>
        
        <main>
            <nav class="navbar">
              <div class="brand" anchor = "navbar">
                <a href="{{url_for('home')}}">
                  <button  class="home-button"> 
                  <img src="../static/no_text (3).svg" alt="Cookarino Logo" id="brand-logo">
                  </button>
                </a>

                <h1 id="brand-name">Cookarino</h1>
                <hr id="brand-hr">
              </div>
              
              <div class="past-recipes">
                 <h2 id="past-recipes-title">Past Recipes</h2>
                  <ul id="past-recipes-list">
                    {% for meal_ in past_meals %}
                      <li class="past-recipes-item">
                        <a class="past-recipes-link" href="#">{{ meal_ }}</a>
                      </li>
                    {% endfor %}
                  </ul>
                </div>
            </nav>

            <!-- Mobile Navbar -->
            <button class="hamburger" onclick="show()">
              <div id="bar1" class="bar"></div>
              <div id="bar2" class="bar"></div>
              <div id="bar3" class="bar"></div>
          </button>
            <div class="navigation">
              
      
              <nav class="mobile-nav">
                <div class="brand" anchor = "navbar">
                  <a href="{{url_for('home')}}">
                    <button  class="home-button"> 
                    <img src="../static/no_text (3).svg" alt="Cookarino Logo" id="brand-logo">
                    </button>
                  </a>
  
                  <h1 id="brand-name">Cookarino</h1>
                  <hr id="brand-hr">
                </div>
                
                <div class="past-recipes">
                   <h1 id="past-recipes-title">Past Recipes</h1>                    <ul id="past-recipes-list">
                      {% for meal_ in past_meals %}
                        <li class="past-recipes-item">
                          <a class="past-recipes-link" href="#">{{ meal_ }}</a>
                        </li>
                      {% endfor %}
                    </ul>
                  </div>
              </nav>
      
          </div>







          </div>
            <div class="main-content" >
            {% block content %}{%endblock%}

            </div>
          
        
            <script>
              function show(){
                console.log("Pressed")
                document.querySelector('.hamburger').classList.toggle('open')
                document.querySelector('.navigation').classList.toggle('active')
            }
            </script>
        </main>
  
  
  
  
  

  
  
        
        
    </body>


</html>


