<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    
    <title>Cookarino</title>
</head>
<body>
        
        <main>
            <nav class="navbar">
              <div class="brand" anchor = "navbar">
                <img src="../static/no_text (3).svg" alt="Cookarino Logo" id="brand-logo">
                <h1 id="brand-name">Cookarino</h1>
                <hr id="brand-hr">
              </div>
              
              <div class="past-recipes">
                 <h2 id="past-recipes-title">Past Recipes</h2>
                  <ul id="past-recipes-list">
                    {% for quote_ in past_quotes %}
                      <li class="past-recipes-item">
                        <a class="past-recipes-link" href="#">{{ quote_ }}</a>
                      </li>
                    {% endfor %}
                  </ul>
                </div>
            </nav>
            <div class="main-content" >
            {% block content %}{%endblock%}

            </div>
        </main>
  
  
  
  
  
  
  
  
        
        
    </body>
</html>