{% extends "layout.html" %}
{% block content %}
    <div class="recipe-more">
       
        <div class="recipe-info">
            <h1 style="height:15%; text-align: center; margin-top: 3%">{{ name }}</h1>
            <img src="{{ image }}" alt="Image of recipe" class="recipe-img-info">
            <p id="info">{{ content }}
                <a target="_blank" href="https://www.youtube.com/results?search_query={{ name }}" class="search">
                    <span>Search Youtube</span>
                </a>

            </p>
           
        </div>
    </div>
{% endblock %}